.flex-container {
	display: flex;
}

.flex-container-left {
	display: flex;
	justify-content: space-between;
}


.toggle-menu {
	width: 50px;
	margin-top: 50px;
	text-align: center;
	font-size: 32px !important;
	display: none;
}
.toggle-menu:hover {
	cursor: pointer;
}
.menu-main {
	width: 100%;
}

.navbar-brand {
	border: none !important;
}

.nav-list li {	
	display: inline-block;
}

.nav-list > li > a {
	text-decoration: none;
}
.navbar > li > a {
	font-size: var(--font-size);
	text-transform: uppercase;
	color: var(--main-color);
	border-bottom: solid 2px transparent;
}
.navbar > li > a:hover, .nav > li > a:focus {
	text-decoration: none;
	color: var(--main-color-darker);
	border-bottom: solid 2px var(--main-color-highlight);
}
.navbar > li {
	padding: 20px 0 0 20px;
}
.navbar-active, .languagebar-active {
	color: var(--main-color-darker) !important;
	border-bottom: solid 2px var(--main-color-highlight) !important;
}

.navbar {
	display: block;
}
.navbar-brand img {
	width: 220px;
}

@media(max-width: 867px) {
	.nav-list li {
		display: block;
	}
	.toggle-menu {
		display: block;
	}
	.menu-main {
		width: calc(100% - 100px);
	}
	.navbar {
		display: none;
		position: absolute;
		top: 165px;
		left: 0;
		width: 100%;
		padding: 25px;
		background-color: var(--main-bg-color);
		z-index: 10;
		text-align: center;

		-webkit-box-shadow: 0px 0px 12px -3px rgba(0,0,0,0.4);
		-moz-box-shadow: 0px 0px 12px -3px rgba(0,0,0,0.4);
		box-shadow: 0px 0px 12px -3px rgba(0,0,0,0.4);
	}
	
	.navbar > li {
		padding: 25px 0 0 20px;
	}
}



/* Hide languagebar for now, since there is only one language  */
.languagebar {
	display: none;
}

.notifications-button {
	position: relative;
	min-width: 30px;
	height: 30px;
	text-align: center;
	border-radius: 15px;
	padding: 3px 8px;
	border: 1px solid transparent;
}
.notifications-button:hover {
	cursor: pointer;
	border: 1px solid var(--main-color-highlight);
}
.notifications-button.active {
	background-color: var(--main-color-highlight);
}
