<div class="kpi-bar">
    <div class="compact">
            <h2 class="section-title">Onze galerijen</h2>
            <p class="text-center">
                Kom eens een kijkje nemen in een van onze galerijen in Antwerpen of Blankenberge. 
                <br><a href="/galleries">Lees alles over onze galerijen.</a>
            </p>
            <div class="grid_4 text-center">
                <p>
                  Hopland 6A<br>2000 Antwerpen<br>België
                </p>
            </div>
            <div class="grid_4 text-center">
                <p>
                    Hoek Bakkersstraat – Vissersstraat<br>8370 Blankenberge<br>België
                </p>
            </div>
            <div class="grid_4 text-center">                
                <p>
                    Vissersstraat 25<br>8370 Blankenberge<br>België
                </p>
            </div>
            <div class="clear"></div>
        </div>
        <div id="map" class="small"></div>
    </div>
</div>

<script>
    load("map", "/components/map"); 
</script>