<div class="kpi-bar">
    <div class="compact">
            <div class="grid_4 text-center">
                <h2>Meer dan 30 jaar ervaring</h2>
                <p>
                    Hoewel we onze eerste galerij pas in 1995 openden, zijn we al meer dan 30 jaar actief in de kunstwereld. We hebben letterlijk van onze passie ons werk gemaakt.
                    <br><a href="/about-us">Lees meer over onze geschiedenis.</a>
                </p>
            </div>
            <div class="grid_4 text-center">
                <h2>Grote keuze in verschillende stijlen</h2>
                <p>
                    Inmiddels hebben een tiental kunstenaars zich aan ons verbonden, ieder met hun eigen stijl en discipline. We hebben voor iedere smaak en iedere ruimte een geschikt kunstwerk. 
                    <br><a href="/artists">Ondek alle kunstenaars.</a>
                </p>
            </div>
            <div class="grid_4 text-center">
                <h2>Levenslange garantie</h2>
                <p>
                    Service staat hoog in ons vaandel. Mocht er onverhoopt iets met het schilderij gebeuren, lossen we het snel en professioneel voor u op. Zo kunt u een leven lang genieten van uw aankoop.
                    <br><a href="/artists">Lees meer over onze aanpak.</a>
                </p>
            </div>
            <div class="clear"></div>
        </div>
    </div>
</div>