<div class="kpi-bar">
    <div class="compact">
        <div class="grid_4">
            <div class="compactImgInfoContainer">
                <div class="img">
                    <img src="/img/exclusive_art.jpg" alt="Exclusieve kunst">
                </div>
                <div class="info">
                    <div class="title">Exclusieve kunst</div>
                    <p>
                        Onze kunstenaars zijn voor België enkel aan Galerij Thiels verbonden. U zult deze werken dus nergens anders aantreffen, waardoor de exclusiviteit van de kunstwerken nog eens hoger wordt.
                    </p>
                </div>
            </div>
        </div>

        <div class="grid_4">
            <div class="compactImgInfoContainer">
                <div class="img">
                    <img src="/img/free_delivery_and_placement2.jpg" alt="Gratis levering en plaatsing">
                </div>
                <div class="info">
                    <div class="title">Gratis levering en plaatsing</div>
                    <p>
                        Wij zijn er voor u als klant. Niet alleen om u te adviseren bij uw aankoop, maar ook achteraf. Zo leveren en plaatsen we uw  schilderijen kosteloos op locatie.
                    </p>
                </div>
            </div>
        </div>

        <div class="grid_4">
            <div class="compactImgInfoContainer">
                <div class="img">
                    <img src="/img/fitting_art.jpg" alt="Passende kunst">
                </div>
                <div class="info">
                    <div class="title">Passende kunst</div>
                    <p>
                        Galerij Thiels is meer dan een verkooppunt voor betaalbare kunst. We willen dat u jarenlang echt geniet van uw aankoop. Dat begint bij een goede begeleiding in onze galerij, waar we u graag persoonlijk van dienst zijn. 
                    </p>
                </div>
            </div>
        </div>
       
        <br class="clear">
    </div>
</div>