<div class="compact" style="padding: 100px 0">
    <div class="grid_8 grid_shift_2">
        <div class="switching-columns text-center">
            <div class="column">
                <div class="text-center">
                    <img src="/img/antwerp.jpg" class="small-img shadow" alt="Afbeelding Antwerpen">
                </div>
            </div>

            <div class="column">
                <div class="section-title align-left-lg" >POP-UP STORE ANTWERPEN</div>
                
                <p class="align-left-all" >
                    Sinds oktober 2020 zijn we ook te vinden in hartje Antwerpen. 
                    <br>We openden een pop-up-galerij, gelegen net achter de stadschouwburg.
                    We ontvangen u graag om te komen genieten van de energieke, kleurrijke werken die schitterend gepresenteerd worden op deze locatie.
                    <a href="/galleries">Lees er hier alles over.</a>
                </p>
                <p>
                    Hopland 6A <br>2000 Antwerpen
                </p>
                <a href="/write-review" class="cta" >
                    Schrijf een review over onze pop-up
                </a>
            </div>
        </div>
    </div>
    <div class="clear"></div>
</div>